div.container-fluid
    div.row.gap
        div.wrapper
            div.social.col-sm-4
                ul
                    li.fb
                        a(href="https://www.facebook.com/donkeytubeco-145148229454350/?modal=admin_todo_tour" target="_blank" title="Facebook")
                            i.icon-fb f
                            span.sr-only Facebook
            div.copyright.col-sm-8
                - var curYear = (new Date()).getFullYear();
                div &copy;2017 &ndash; #{curYear} 
                    | &ensp;DonkeyTube All rights reserved.
                div.strong-dt(title="DonkeyTube") 
                    | All free movies on this website are hosted on third-party servers that are freely available to public users. 
                    | DonkeyTube doesn't host any movie. Any legal issues regarding the free online movies on this website should be 
                    | taken up with the actual file hosts themselves. Administration is not responsible.