div.container-fluid
    div.row.gap
        div.wrapper
            div.social.col-sm-4
                ul
                    li.fb
                        a(href="https://www.facebook.com/donkeytube.co" target="_blank" title="donkeytube facebook")
                            span.sr-only donkeytube facebook
                    li.tw
                        a(href="https://twitter.com/donkeytubeco" target="_blank" title="donkeytube twitter")
                            span.sr-only donkeytube twitter
                    li.dmca
                        a(href="/associate/dmca" target="_blank" title="dmca compliant")
                            span.sr-only dmca compliant
                    li.privacy
                        a(href="/associate/privacy" target="_blank" title="privacy policy")
                            span.sr-only privacy policy
                    li.terms
                        a(href="/associate/terms" target="_blank" title="terms of use")
                            span.sr-only terms of use
                .sconline
                    center
                        script(type="text/javascript" src="//widget.supercounters.com/ssl/online_i.js")
                        script.
                            sc_online_i(1458157,"ffffff","e61c1c");
                        br
                        noscript
                            a(href="http://www.supercounters.com/") Free Online Counter                            
            div.copyright.col-sm-8
                - var curYear = (new Date()).getFullYear();
                div &copy;2017 &ndash; #{curYear} 
                    | &ensp;DonkeyTube All rights reserved.
                div.strong-dt(title="DonkeyTube") 
                    | All free movies on this website are hosted on third-party servers that are freely available to public users. 
                    | DonkeyTube doesn't host any movie. Any legal issues regarding the free online movies on this website should be 
                    | taken up with the actual file hosts themselves. Administration is not responsible.