doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title DonkeyTube
    link(rel='shortcut icon' type='image/x-icon' href='/favicon.ico')
    link(rel='stylesheet', href='/css/bundle.css')
  body
    include includes/header
    block content
    include includes/footer
    include includes/accessory
    script(type='text/javascript', src='/js/vendor.js')
    script(type='text/javascript', src='/js/bundle.js')
