doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    title DonkeyTube
    link(rel='stylesheet', href='/css/bundle.css')
  body
    include includes/header
    block content
    include includes/footer
    script(type='text/javascript', src='/js/vendor.js')
    script(type='text/javascript', src='/js/bundle.js')
