extends ../layout

block content
    .container-dt
        .info-area
            .info-text
                span 
                    | OOOps, your request can not be served successfully.  Please go to 
                    a.home-link(href='/' target='self') Home Page
                    |  to start again.  Or be kindly leave us a message via 
                    span.mail dtweb111@outlook.com
                    | . 