extends ../layout

block content
    .container-dt
        .associate-area
            .associate-title
                span DMCA
            .associate-text
                p
                    |Donkeytube.co is in compliance with the Digital Millennium Copyright Act (“DMCA”). 
                    |It is our policy to respond to any infringement notices and take appropriate actions under the DMCA and other applicable intellectual property laws.
                p
                    |Donkeytube.co takes matters of Intellectual Property very seriously and is committed to meeting the needs of content owners while helping them manage publication of their content online. 
                    |It should be noted that Watch Movies is a simple search engine of videos available at a wide variety of third party websites. 
                    |Any videos shown on third party websites are the responsibility of those sites and not Watch Movies. We have no knowledge of whether content shown on third party websites is or is not authorized by the content owner as that is a matter between the host site and the content owner. Donkeytube.co does not host any content on its servers or network.
                p
                    |Please acknowledge that we DO NOT host or keep any files or copyrighted material on Donkeytube.co. We DO NOT host torrent files, torrent hash data, and/or any torrent metafiles. In addition, we do not control the removal of any content from any other web site in any shape or form. If you were referred to us by using a link at a third-party site, then please contact THEM directly.
                p
                    |Summarizing all the above, you CANNOT in “good faith” believe that any copyrighted material that you state is being infringed is not authorized to be displayed on our website.
                p
                    |If you are still convinced that your copyrights are infringed and that you need to mail us a request for content removal, we can offer a copyrighted content removal services to copyright owners or their authorized representatives.
                p
                    |If you found and want to inform us about a copyright infringement on this website, please send us an official request to be carefully reviewed by our Copyright abuse department. It’s important to keep in mind that WE DO NOT KEEP any copyrighted content on our website and we ought to, due to this fact, check all copyrighted content removal requests in details before proceeding with them.
                p
                    |Donkeytube.co is a complex system of automatic indexers, robotic scripts and user submissions; if a video exists on the web we will at some point find it and index it. It is entirely possible that we will index a previously removed video that is hosted using a different URL or different hosting website. If this happens please let us know as per DMCA protocol and we will address the issue.
                    |Please do not send DMCA requests asking for entire channels, categories or shows to be removed. We only accept requests for an actual link to be removed.
                p
                    |To start the process on copyrighted content removal, please give us a copyrighted content removal request, made according to DMCA rules. Your copyright content removal application SHOULD HAVE ALL the items listed below. Otherwise our copyright abuse department will have to decline your application.
                p
                    |THE FOLLOWING ELEMENTS MUST BE INCLUDED IN YOUR COPYRIGHT INFRINGEMENT CLAIM:

                p
                    |* Provide evidence of the authorized person to act on behalf of the owner of an exclusive right that is allegedly infringed.
                    |* Provide sufficient contact information so that we may contact you. You must also include a valid email address.
                    |* You must identify in sufficient detail the copyrighted work claimed to have been infringed
                    |* You must include all the correct infringing links that you claim for removal.
                    |* A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.
                    |* A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
                    |* Must be signed by the authorized person to act on behalf of the owner of an exclusive right that is allegedly being infringed.
                p
                    |IMPORTANT REMINDER:
                p
                    |* We have a right to reject any incomplete or anonymous messages.
                    |* We do not have to answer to threats of any kind. Please make sure your request is polite and decent. Please remember before sending your request: WE DO NOT KEEP or HOST ANY CONTENT or MATERIALS!
                    |* We appreciate your understanding.
                p
                    |SEND THE INFRINGEMENT NOTICE VIA EMAIL
                p
                    |Contact/Email: 
                    span.mail donkeytube@mail.com

