extends ../layout

block content
  .container-dt
    .main-dt
      .section
        .section-title
          span.section-title-header Top Views
          span.section-title-more 
            a(href="/search") view more>>
        .section-content
          .clearfix
          ul.item-container
            for item in resultTopNViews
              li.item-card
                a(href=item.url target="_blank")
                  img(src=item.url)
                .item-title 
                  a(href=item.url target="_blank") #{item.video_name}
    .slidebar
      .slidebar-title
        span.section-title-header New Released
        span.section-title-more 
          a(href="/search") view more>>
      .slidebar-main

      
        
