extends ../layout

block content
    .container-dt
        .associate-area
            .associate-title
                span Terms of Use
            .associate-text
                p
                    |PLEASE READ THESE TERMS OF USE (the “Terms”) CAREFULLY BEFORE USING THIS SITE OR ANY SERVICES OR APPLICATIONS RELATED TO THIS SITE.
                p
                    strong 1.) Your Acceptance: 
                    br
                    |By using or visiting the Donkeytube.co website or any Donkeytube.co products, software, data feeds, and services provided to you on, from, or through the Donkeytube.co website (collectively the “Service”) you signify your agreement to these terms and conditions (the “Terms of Use”), and Donkeytube.co’s Privacy Policy, found at and incorporated herein by reference. If you do not agree to any of these terms or the Donkeytube.co Privacy Policy, please do not use the Service.
                p    
                    strong 2.)Donkeytube.co Website: 
                    br
                    |The Terms of Use applies to all visitors of Donkeytube.co, including users who are also contributors of “Media Content” on the Donkeytube.co website. Donkeytube.co may include links to third-party websites that are not owned or controlled by Donkeytube.co inc. 
                    |Donkeytube.co has no control over and therefore assumes no responsibility for, the content or practices of any third-party websites. Donkeytube.co cannot censor or edit the content of any third-party site. By using the Service you expressly relieve Donkeytube.co from any and all liability arising from your use of any third-party website. 
                    |All “Media Content” including videos, flash games, flash animations, photos, pictures, graphics, sound recordings, and jokes featured on Donkeytube.co are copyright of their respective authors.
                p
                    strong 3.) BY USING THE SERVICE YOU REPRESENT AND WARRANT THAT YOU ARE 13 YEARS OF AGE OR OLDER OR HAVE PARENTAL CONSENT.
                    br
                    |Donkeytube.co has the right to suspend or terminate your account and refuse any and all current or future use of Donkeytube.co, or any portion thereof.
                p
                    strong 4.) Comments
                    br
                    |Donkeytube.co loves our readers’ comments. However, we reserve the right to delete any comments we find offensive. We strive to maintain an atmosphere of free and open conversation.
                p
                    |Do not post threatening, harassing, defamatory, or libelous material.
                    br
                    |Do not intentionally make false or misleading statements.
                    br
                    |Do not post information that you know to be confidential or sensitive or otherwise in breach of the law.
                    br
                    |Please note that once you post a comment to one of our sites, it becomes part of the public conversation. Our policy is that we will not remove a user’s comments unless they are in violation of our Terms of Service, and we won’t remove them otherwise except in very extreme circumstances. 
                    |So if you want to say something that you will later regret personally, it is advisable that you use a username that does not identify you.
                p
                    |Facebook
                    br
                    |Donkeytube.co allows you to post comments using your Facebook account. If you post comments using Facebook, Facebook will ask your permission to share certain information from your Facebook account with Donkeytube.co. 
                    |This includes your first name, last name, gender, general location, a link to your Facebook profile, your timezone, birthday, profile picture, your “likes” and your list of friends.
                p
                    |This information is collected by Facebook and is provided to us under the terms of Facebook’s privacy policy. You can control the information that we receive from Facebook using the privacy settings in your Facebook account.
                p
                    strong 5.) General Use of Donkeytube.co
                    br
                    |(5.1) You agree not to breach the Terms of Use or any other applicable rules and instructions that Donkeytube.co may convey with respect to the use of Donkeytube.co and not to interfere with or disrupt the functionality of Donkeytube.co or to circumvent or manipulate the operation, or functionality of Donkeytube.co.
                    br
                    |(5.2) You agree not to distribute any part of the Service or the Content in any medium without Donkeytube.co’s prior written consent.
                    br
                    |(5.3) You shall not upload to, distribute through or otherwise publish through Donkeytube.co any Materials that contain viruses or any other computer code, corrupt files or programs designed to interrupt, destroy or limit the functionality or disrupt any software, hardware, telecommunications, networks, servers or other equipment.
                    br
                    |(5.4) If you submit “Media Content” to Donkeytube.co then you represent that the Media Content is your own original work, and contains no material otherwise created by someone who is not you.
                    br
                    |(5.5) You agree not to use Donkeytube.co or its related services for the purpose of gaining advertising or generating renevue.
                    br
                    |(5.6) You agree that your use of the Donkeytube.co web site shall be at your sole risk. You agree that you are 18 years of age, or have parental consent.
                p
                    strong 6.) Limitation of Liability IN NO EVENT SHALL Donkeytube.co, ITS OFFICERS, DIRECTORS, EMPLOYEES, OR AGENTS, BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES WHATSOEVER RESULTING FROM ANY
                    br
                    |(6.1) ERRORS, MISTAKES, OR INACCURACIES OF CONTENT,
                    br
                    |(6.2) PERSONAL INJURY OR PROPERTY DAMAGE, OF ANY NATURE WHATSOEVER, RESULTING FROM YOUR ACCESS TO AND USE OF OUR SERVICES,
                    br
                    |(6.3) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SECURE SERVERS AND/OR ANY AND ALL PERSONAL INFORMATION AND/OR FINANCIAL INFORMATION STORED THEREIN,
                    br
                    |(6.4) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM OUR SERVICES, (IV) ANY BUGS, VIRUSES, TROJAN HORSES, OR THE LIKE, WHICH MAY BE TRANSMITTED TO OR THROUGH OUR SERVICES BY ANY THIRD PARTY, AND/OR 
                    br
                    |(6.5) ANY ERRORS OR OMISSIONS IN ANY CONTENT OR FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF YOUR USE OF ANY CONTENT POSTED, EMAILED, TRANSMITTED, OR OTHERWISE MADE AVAILABLE VIA THE SERVICES, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT THE COMPANY IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. 
                    |THE FOREGOING LIMITATION OF LIABILITY SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE JURISDICTION. YOU SPECIFICALLY ACKNOWLEDGE THAT Donkeytube.co SHALL NOT BE LIABLE FOR CONTENT OR THE DEFAMATORY, OFFENSIVE, OR ILLEGAL CONDUCT OF ANY THIRD PARTY AND THAT THE RISK OF HARM OR DAMAGE FROM THE FOREGOING RESTS ENTIRELY WITH YOU.
                p
                    strong 7.) Advertising Agreement:
                    br
                    |PROHIBITED CONTENT
                    br
                    |We reserve the right to investigate and take appropriate actions against anyone (in our sole discretion) violates these rules, including removing the ads, without any Company’s liability.
                    br
                    |Prohibited usage includes of:
                    br
                    |any material that contains or links that lead to software viruses, spyware, malware or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or other electronic equipment, steal or collect private information.
                p
                    strong 8.) Intellectual Property: All rights, title and interest in and to Donkeytube.co including copyrights, trademarks, trade names, service marks, trade secrets and other intellectual property rights, are owned by Donkeytube.co, or owned by a third party and licensed to Donkeytube.co inc. 
                    |Unless expressly permitted in the Terms of Service, you may not copy, distribute, display or perform publicly, sublicense, decompile, disassemble, reduce to human readable form, execute publicly, make available to the public, adapt, make commercial use, process, compile, translate, sell, 
                    | lend, rent, reverse engineer, combine with other software, modify or create derivative works of any of the content on Donkeytube.co, which is subject to intellectual property or other proprietary rights, either by yourself or by a third party on your behalf, in any way or by any means, including, but not limited to electronic, mechanical or optical means.
                p
                    |You may not adapt or use otherwise any name, mark or logo that is identical, or confusingly similar to the trademarks, services marks and logos of Donkeytube.co and other providers of the Service.
                p
                    strong 9.) Requests to Remove Content: If you believe that your work has been copied on the Donkeytube.co website in a way that constitutes copyright infringement, please notify us by using our Contact Form.
                    br
                    |(9.1) Your physical or electronic signature, as the owner of an exclusive right that is allegedly infringed or as a person authorized to act on the owner’s behalf.
                    br
                    |(9.2) Identification of the copyrighted work claimed to have been infringed.
                    br
                    |(9.3) Identification of the material that is claimed to be infringing, or to be the subject of infringing activity and that is to be removed, or access to which is to be disabled, and information reasonably sufficient to permit us to locate the material. Providing URLs in the body of an email is the best way to help us locate content quickly.
                    br
                    |(9.4) Information reasonably sufficient to permit us to contact you, such as your address, telephone number, or email address.
                    br
                    |(9.5) A statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law.
                    br
                    |(9.6) A statement that the information in the notification is accurate, and under penalty of perjury, that you are the owner of an exclusive right that is allegedly infringed or a person authorized to act on the owner’s behalf. For more information visit our Copyright Page.
                p
                    strong General Info: 
                    |These Terms constitute the entire agreement between you and us and govern your use of Donkeytube.co, superseding any prior agreements. You affirm that you are either 18 years of age or possess legal parental/guardian consent and are fully able to enter into the terms set forth.